<% if(page.comments && theme.disqus.enabled){ %>
    <div class="blog-post-comments">
        <div id="disqus_thread">
            <noscript><%= __('comments.no_js') %></noscript>
        </div>
    </div>
<% } %>
<% if(page.comments && theme.utterance.enabled){ %>
    <div class="blog-post-comments">
        <div id="utterance">
            <script src="https://utteranc.es/client.js"
                    repo="<%= theme.utterance.repo %>"
                    issue-term="<%= theme.utterance.issue %>"
                    theme="<%= theme.utterance.theme %>"
                    crossorigin="<%= theme.utterance.crossorigin %>"
                    async>
            </script>
        </div>
    </div>
<% } %>
